// 
// This is a global file available without import to all
// svelte files, it's appended to everything so only
// variables, mixins should be here
// 


// Colours
$col-bg: hsl(233, 24%, 19%);
$col-yellow: hsl(43, 100%, 52%);
$col-red: hsl(0, 83%, 40%);
$col-pink: hsl(302, 95%, 68%);
$col-cyan: hsl(182, 94%, 39%);
$col-black: hsl(0, 0%, 0%);

// Tints
$tint-50: hsl(0,0%, 0%, 0.5);

// Fonts
$font-playful: 'Galindo', cursive;
$font-script: 'Qwigley', cursive;
$font-mono: 'Roboto Mono', monospace;
$font-sans: 'Rubik', sans-serif;
$font-goofy: 'Slackey', cursive;

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}