@use '../../styles/utils.module.scss' as u;
$headerbg: hsla(0,0%,0%,60%);

.nav {
    margin: auto;

    &__mobile {
        background: $headerbg;
        padding: 30% 10%;
        position: fixed;
        top: -5%;
        left: 0;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

        @media only screen and (min-width: u.$breaktab) {
            display: none;
        }
    }


    &__content {
        @include u.container;
        margin: 0 auto;
    }
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: u.$col-white;
    }
}