// 
// This is a global file available without import to all
// svelte files, it's appended to everything so only
// variables, mixins should be here
// 

// @import "sass:math" as math;

$breakpoint: 50; // breakpoint size in rem
$font-size: 16; // font size in px

// $breakmob: #{math.div($breakpoint, 2)}rem;
$breakmob: #{$breakpoint / 2}rem;
$breaktab: #{$breakpoint}rem;

@mixin container {
    max-width: $breaktab;
}

@mixin simpleMargin {
    margin: 0 1rem;
    @media only screen and (min-width: $breaktab) {
        margin: auto;
    }
}

// This determines the reponsive size changes for some elements
$growthrate: 15vw;

// Colours

$col-yellow: hsl(43, 100%, 52%);
$col-red: hsl(0, 83%, 40%);
$col-pink: hsl(302, 95%, 68%);
$col-cyan: hsl(182, 94%, 39%);


// Colour Variables
$col-bg: hsl(232, 24%, 19%);
$col-black: hsl(0, 0%, 0%);
$col-white: rgb(180, 207, 205);
$col-a1: $col-cyan;
$col-a2: $col-yellow;
$col-a3: $col-red;
$col-a4: $col-pink;

// Fonts
$font-playful: 'Galindo', cursive;
$font-script: 'Qwigley', cursive;
$font-mono: 'Roboto Mono', monospace;
$font-sans: 'Quicksand', sans-serif;
$font-goofy: 'Slackey', cursive;

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

:export {
    cssBreakpoint: $breakpoint;
    cssFontSize: $font-size;
}